<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Realert navigation fragments</title>
</head>
<body>
   <!-- footer -->
   <div th:fragment="footer">
      <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
         <ul class="nav">
            <li class="nav-item">
               <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Servicios</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Acerca de</a>
            </li>
         </ul>
         <span class="copyright ml-auto my-auto mr-2">Copyright © 2019
            <a href="https://designrevision.com" rel="nofollow">DesignRevision</a>
         </span>
      </footer>
   </div>
</body>
</html>