<!doctype html>
<html lang="en" class="no-js h-100" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header::header">
    <title id="pageTitle">Mis recetas</title>
</head>
<body class="h-100">

<!-- Scripts -->
<div th:replace="fragments/scripts::scripts"></div>

<!-- Color switcher -->
<div th:replace="fragments/color-switcher::color-switcher"></div>

<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <div th:replace="fragments/side-bar::side-bar(usuario = 'Gretel Santiago')"></div>

        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">

            <!-- Navbar -->
            <div th:replace="fragments/nav-bar::nav-bar"></div>

            <!-- Content -->
            <div class="main-content-container container-fluid px-4">

                <!-- Content Header -->
                <div class="page-header row no-gutters py-4">
                    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                        <span class="text-uppercase page-subtitle"></span>
                        <h3 class="page-title">Crear receta</h3>
                    </div>
                </div>

                <!-- Formulario para crear receta -->
                <div class="col-lg-8">
                    <div class="card card-small mb-4">
                        <div class="card-header border-bottom">
                            <h6 class="m-0">Detalles de la receta</h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p-3">
                                <div class="row">
                                    <div class="col">
                                        <form>
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="feFirstName">Medicamento</label>
                                                    <input type="text" class="form-control" id="feFirstName" value=""> </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="feLastName">Dosis</label>
                                                    <input type="text" class="form-control" id="feLastName" value=""> </div>
                                                <div class="form-group col-md-6">
                                                    <label for="feEmailAddress">Vía de administración</label>
                                                    <input type="email" class="form-control" id="feEmailAddress"  value=""> </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="fePassword">Frecuencia</label>
                                                    <input type="password" class="form-control" id="fePassword" placeholder="Horas"> </div>
                                                <div class="form-group col-md-6">
                                                    <label for="feInputState">Duración</label>
                                                    <select id="feInputState" class="form-control">
                                                        <option selected>Choose...</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="feDescription">Comentario</label>
                                                    <textarea class="form-control" name="feDescription" rows="5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eaque, quidem, commodi soluta qui quae minima obcaecati quod dolorum sint alias, possimus illum assumenda eligendi cumque?</textarea>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-accent">Crear receta</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            <!-- End of Content -->

            <!-- Footer -->
            <div th:replace="fragments/footer::footer"></div>
        </main>
    </div>
</div>

<!-- Info pop-up -->
<div th:replace="fragments/info-popup::info-popup"></div>
</body>
</html>