<!doctype html>
<html lang="en" class="no-js h-100" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header::header">
   <title id="pageTitle">Mis recetas</title>
</head>
<body class="h-100" th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">

   <!-- Scripts -->
   <div th:replace="fragments/scripts::scripts"></div>

   <!-- Color switcher -->
   <div th:replace="fragments/color-switcher::color-switcher"></div>

   <div class="container-fluid">
      <div class="row">

         <!-- Sidebar -->
         <div th:replace="fragments/side-bar::side-bar"></div>

         <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">

            <!-- Navbar -->
            <div th:replace="fragments/nav-bar::nav-bar"></div>

            <!-- / .error  -->
            <div class="error">
               <div class="error__content">
                  <h2 th:text="${httpStatus}">500</h2>
                  <h3>¡Algo salió mal!</h3>
                  <p th:utext="${httpStatus.reasonPhrase}">There was a problem on our end. Please try again later.</p>
                  <button type="button" class="btn btn-accent btn-pill">&larr; Go Back</button>
               </div>
            </div>

            <!-- Footer -->
            <div th:replace="fragments/footer::footer"></div>
         </main>
      </div>
   </div>

   <!-- Info pop-up -->
   <div th:replace="fragments/info-popup::info-popup"></div>
</body>
</html>
<!--


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Error</title>
</head>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
   <div class="error">
      <div class="error__content">
         <h2 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">500</h2>
         <h3>Something went wrong!</h3>
         <p th:utext="${errorMessage}">There was a problem on our end. Please try again later.</p>
         <button href="index.html" th:href="@{/index.html}" type="button" class="btn btn-accent btn-pill">&larr; Go Back</button>
      </div>
      &lt;!&ndash; / .error_content &ndash;&gt;
   </div>
</body>
</html>-->
