<!doctype html>
<html lang="en" class="no-js h-100"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/header::header">
   <title id="pageTitle">Mis recetas</title>
</head>
<body class="h-100">

   <!-- Scripts -->
   <div th:replace="fragments/scripts::scripts"></div>

   <!-- Color switcher -->
   <div th:replace="fragments/color-switcher::color-switcher"></div>

   <div class="container-fluid">
      <div class="row">

         <!-- Sidebar -->
         <div th:replace="fragments/side-bar::side-bar"></div>

         <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">

            <!-- Navbar -->
            <div th:replace="fragments/nav-bar::nav-bar"></div>

            <!-- Content -->
            <div class="main-content-container container-fluid px-4">

               <!-- Content Header -->
               <div class="page-header row no-gutters py-4">
                  <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                     <span class="text-uppercase page-subtitle">Resumen</span>
                     <h3 class="page-title">Mis recetas</h3>
                  </div>
               </div>

               <!-- Lista de recetas -->
               <div class="row">
                  <div class="col">
                     <div class="card card-small mb-4">
                        <div class="card-header border-bottom">
                           <h6 class="m-0">Lista de recetas</h6>
                        </div>
                        <div class="card-body p-0 pb-3 text-center">
                           <table class="table mb-0">
                              <thead class="bg-light">
                              <tr>
                                 <th scope="col" class="border-0">#</th>
                                 <th scope="col" class="border-0">Fecha</th>
                                 <th scope="col" class="border-0">Medico</th>
                                 <th scope="col" class="border-0">Paciente</th>
                                 <th scope="col" class="border-0"></th>
                                 <th scope="col" class="border-0">
                                    <a th:href="@{/pacientes}" sec:authorize="hasAuthority('MEDICO')">
                                       <span><i class="material-icons">add</i></span>
                                    </a>
                                 </th>
                              </tr>
                              </thead>
                              <tbody>
                                 <tr th:each="receta: ${recetas}">
                                    <td th:text="${receta.id}">0</td>
                                    <td th:text="${receta.fecha}">00/00/0000</td>
                                    <td th:text="${receta.medico.nombre}">Aaaaa Bbbbbb</td>
                                    <td th:text="${receta.paciente.nombre}">Ccccccc Dddddddd</td>
                                    <td><a th:href="@{/recetas/ver-receta(id=${receta.id})}">Ver detalles</a></td>
                                    <td>
                                       <a th:href="@{/recetas/eliminar-receta(id=${receta.id})}"
                                          sec:authorize="hasAnyAuthority('MEDICO','ADMINISTRADOR')">
                                          <span><i class="material-icons">delete</i></span>
                                       </a>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- End of Content -->

            <!-- Footer -->
            <div th:replace="fragments/footer::footer"></div>
         </main>
      </div>
   </div>

   <!-- Info pop-up -->
   <div th:replace="fragments/info-popup::info-popup"></div>
</body>
</html>