<!doctype html>
<html lang="en" class="no-js h-100"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/header::header">
   <title id="pageTitle">Mis recetas</title>
</head>
<body class="h-100">

   <!-- Scripts -->
   <div th:replace="fragments/scripts::scripts"></div>

   <!-- Color switcher --><!--
   <div th:replace="fragments/color-switcher::color-switcher"></div>-->

   <div class="container-fluid">
      <div class="row">

         <!-- Sidebar -->
         <div th:replace="fragments/side-bar::side-bar"></div>

         <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">

            <!-- Navbar -->
            <div th:replace="fragments/nav-bar::nav-bar"></div>

            <!-- Content -->
            <div class="main-content-container container-fluid px-4">
               <!-- Page Header -->
               <div class="page-header row no-gutters py-4">
                  <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                     <h3 class="page-title">Vista de Receta</h3>

                     <div class="input-group-append">
                        <h5 class="page-title">Médico</h5>
                        <span th:text="${receta.medico.nombre}" class="input-group-text">Egeehr Leewfrt</span>
                     </div>

                     <div class="input-group-append">
                        <h5 class="page-title">Fecha</h5>
                        <span th:text="${receta.fecha}" class="input-group-text">00/00/0000</span>
                     </div>
                  </div>
               </div>
               <!-- End Page Header -->
               <!-- Default Light Table -->
               <div class="row">
                  <div class="col">
                     <div class="card card-small mb-4">
                        <div class="card-header border-bottom">
                           <h6 class="m-0">Recetas</h6>
                        </div>
                        <div class="card-body p-0 pb-3 text-center">
                           <table class="table mb-0">
                              <thead class="bg-light">
                              <tr>
                                 <th scope="col" class="border-0">#</th>
                                 <th scope="col" class="border-0">Medicamento</th>
                                 <th scope="col" class="border-0">Dosis</th>
                                 <th scope="col" class="border-0">Vía administración</th>
                                 <th scope="col" class="border-0">Frecuencia</th>
                                 <th scope="col" class="border-0">Duración</th>
                                 <th scope="col" class="border-0">
                                    <a th:href="@{/recetas/agregar-detalle(id=${receta.id})}"
                                       sec:authorize="hasAuthority('MEDICO')">
                                       <span><i class="material-icons">add</i></span>
                                    </a>
                                 </th>
                                 <th scope="col" class="border-0"></th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr th:each="detalle:${receta.detalles}">
                                 <td th:text="${detalle.id}">1</td>
                                 <td th:text="${detalle.medicamento.nombre}">Lferergef 000MG</td>
                                 <td th:text="|${detalle.dosis} ${detalle.medicamento.presentacion}|">0 segetgetr</td>
                                 <td th:text="${detalle.medicamento.viaAdministracion}">Pfwefwe</td>
                                 <td th:text="|${detalle.frecuenciaHoras} horas|">0 horas</td>
                                 <td th:text="|${detalle.duracionDias} días|">0 días</td>
                                 <td>
                                    <a th:href="@{/recetas/modificar-detalle(id=${detalle.id})}"
                                       sec:authorize="hasAuthority('MEDICO')">
                                       <span><i class="material-icons" >edit</i></span>
                                    </a>
                                 </td>
                                 <td>
                                    <a th:href="@{/recetas/eliminar-detalle(id=${detalle.id})}"
                                       sec:authorize="hasAnyAuthority('MEDICO','ADMINISTRADOR')">
                                       <span><i class="material-icons">delete</i></span>
                                    </a>
                                 </td>
                              </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- End Default Light Table -->
            </div>
            <!-- End of Content -->

            <!-- Modal -->
            <!--<div class="modal fade" role="dialog" id="modalID">
               <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title text-left">Modificar receta</h4>
                     </div>
                     &lt;!&ndash; iniciapermiso &ndash;&gt;
                     <div class="col-lg-8">
                        <div class="card card-small mb-4">
                           <div class="card-header border-bottom">
                              <h6 class="m-0">Detalles de la receta</h6>
                           </div>
                           <ul class="list-group list-group-flush">
                              <li class="list-group-item p-3">
                                 <div class="row">
                                    <div class="col">
                                       <form>
                                          <div class="form-row">
                                             <div class="form-group col-md-12">
                                                <label for="feFirstName">Medicamento</label>
                                                <input type="text" class="form-control" id="feFirstName" value=""> </div>
                                          </div>
                                          <div class="form-row">
                                             <div class="form-group col-md-6">
                                                <label for="feLastName">Dosis</label>
                                                <input type="text" class="form-control" id="feLastName" value=""> </div>
                                             <div class="form-group col-md-6">
                                                <label for="feEmailAddress">Vía de administración</label>
                                                <input type="email" class="form-control" id="feEmailAddress"  value=""> </div>
                                          </div>
                                          <div class="form-row">
                                             <div class="form-group col-md-6">
                                                <label for="fePassword">Frecuencia</label>
                                                <input type="password" class="form-control" id="fePassword" placeholder="Horas"> </div>
                                             <div class="form-group col-md-6">
                                                <label for="feInputState">Duración</label>
                                                <select id="feInputState" class="form-control">
                                                   <option selected>Choose...</option>
                                                   <option>...</option>
                                                </select>
                                             </div>
                                          </div>
                                          <div class="form-row">
                                             <div class="form-group col-md-12">
                                                <label for="feDescription">Comentario</label>
                                                <textarea id="feDescription" class="form-control" name="feDescription" rows="5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eaque, quidem, commodi soluta qui quae minima obcaecati quod dolorum sint alias, possimus illum assumenda eligendi cumque?</textarea>
                                             </div>
                                          </div>
                                          <button type="submit" class="btn btn-accent">Crear receta</button>
                                       </form>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                     &lt;!&ndash; findepermiso &ndash;&gt;
                     <div class="modal-footer">

                     </div>
                  </div>
               </div>
            </div>-->
            <!-- finmodal -->

            <!-- Footer -->
            <div th:replace="fragments/footer::footer"></div>
         </main>
      </div>
   </div>

   <!-- Info pop-up -->
   <div th:replace="fragments/info-popup::info-popup"></div>
</body>
</html>
